from puyapy import ARC4Contract, arc4


class {{ contract_name.split('_')|map('capitalize')|join }}(ARC4Contract):
    @arc4.abimethod()
    def hello(self, name: arc4.String) -> arc4.String:
        return "Hello, " + name
